
body {
    margin: 0 15%;
}
.box{
    color: white;
    background-color: #3a4248;
    border: 10px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    display: block;
}


.boxHeading{
    font-size: 33px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    align-items: center;
    display: flex;
}

.boxText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


/* nav{
    align-items: center;
    border-top: 2px solid rgb(180, 179, 179,0.7) ;
    display: flex;
    overflow-x:auto ;
    justify-content: space-between;
    /* margin: auto; 
}
*/

nav{
    border-top: 1px solid grey;
    margin-top: 20px;
}


ul {
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
  }
  
  /* li {
    float: left;
    display: inline;
    color: black;
    width: fit-content;
    margin: auto;  
  } */

  li a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    margin: auto;
  }



footer *{
    display: block;
    text-align: center;    
}

.card{
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 2px solid rgb(0,0,0,0.3);
    border-radius: 5px;
    margin: 20px;
    height: 250px;
}
.container{
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.container p{
    font-size: 18px;
    margin: 0;
    padding: 5px;
}
.container h2{
    margin: 0;
}

img{
    display: inline;
    height: 100%;
    width: 170px;
    justify-content: right;

}


.card p,a{
    font-family: calibri;
}


a:hover {
    background-color: #1a77d7;
    text-decoration-line: underline;
    text-decoration-color: black;

  }

